body
{
  background-color: white;
  margin: 2em;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
li{
  white-space: pre;
}
.messageInput
{
  width: 30vw;
  height: 10vh;
}
label
{
  padding: 5px;
}
.messageBodyDiv
{
  border: 1px solid blue;
  overflow-y: auto;
  height: 20vw;
  width: 80vw;
}
.submitButton
{
  background-color: white;
  border: 1px solid black;
  padding: 5px;
}
.submitButton:hover
{
  background-color: red;
  color: white;
}
.submitButton:active
{
  background-color: rgb(172, 0, 0);
  color: white;
}
hr
{
  border-top: 2px solid rgb(172, 0, 0);
  width: 80vw;
  position: relative;
  left: -10vw;
}
@media only screen and (max-width: 768px) 
{
  .messageBodyDiv
  {
    border: 1px solid blue;
    width: 90vw;
  }
  .messageInput
  {
    width: 90vw;
    height: 10vh;
  }
  .smallmobiletext::after
  {
    content: "Responsive Page for phones coming soon!";
  }
}

